<nav aria-label="breadcrumb">           
	<ol class="breadcrumb">
		<li class="breadcrumb-item" aria-current="page"><a href="/">Home</a></li>
		<li class="breadcrumb-item active">Área do Usuário</li>
	</ol>
</nav>

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Área do Usuário</h1>
    <p class="lead">Bem vindo(a) {{user.name}}!</p>
  </div>
</div>

<h4 class="text-center mb-3">Configurações</h4>
<div class="row">
  <div class="col-sm-4">
    <div class="card">
      <div class="card-body text-center">          
        <a href="/perfil/edit/{{user._id}}" class="btn btn-success">Alterar Perfil</a>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card">
      <div class="card-body text-center">                 
          <a href="/perfil/edit-senha" class="btn btn-primary">Alterar Senha</a>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card">
      <div class="card-body text-center">            
        <a href="/perfil/minhas-postagens/" class="btn btn-success">Ver Postagens</a>
      </div>
    </div>
  </div>
</div>

<div class="row mt-2 mb-5">
  <div class="col-sm-4">
    <div class="card">
      <div class="card-body text-center">        
        <form action="/perfil/deletar" method="POST">
          <input type="hidden" name="id" value="{{user._id}}"/>          
          <button type="submit" class="btn btn-danger">Excluir Conta</button>         
        </form>
      </div>
    </div>
  </div>
  
  {{#if user.eOwner}}
    <div class="col-sm-4">
      <div class="card">
        <div class="card-body text-center">                
            <a href="/perfil/transferir-dono" class="btn btn-danger">Transferir Dono</a>  
        </div>
      </div>
    </div>
  {{/if}}
</div>