<nav aria-label="breadcrumb">           
	<ol class="breadcrumb">
		<li class="breadcrumb-item" aria-current="page"><a href="/">Home</a></li>
		<li class="breadcrumb-item" aria-current="page"><a href="/perfil">Área do Usuário</a></li>
        <li class="breadcrumb-item active">Transferir Propriedade</li>
	</ol>
</nav>

<h3 class="text-center mb-5">Escolha um admin para transferir</h3>

{{#if users}}
    <div class="row">
        {{#each users}}
            <div class="col-sm-4">
                <div class="card">
                    <div class="card-body">                        
                        <a href="/perfil/transferir-dono/{{this._id}}">{{this.name}}</a>
                    </div>
                </div>
            </div>
        {{/each}}
    </div>
{{else}}
    <hr>
    <h4 class="text-center">Não tem administradores</h4>
{{/if}}