<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Área do Usuário</h1>
    <p class="lead">Bem vindo(a) {{user.nome}}!</p>
  </div>
</div>
<h3 class="mb-5">O que você deseja fazer?</h3>

<h4>Configurações</h4>
<div class="row">
  <div class="col-sm-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Alterar Perfil</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="/perfil/edit/{{user._id}}" class="btn btn-success">Go somewhere</a>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card">
      <div class="card-body">
          <h5 class="card-title">Alterar Senha</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="/perfil/edit-senha" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
</div>

<div class="row mt-2">
  <div class="col-sm-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Excluir Conta</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <form action="/perfil/deletar" method="POST">
          <input type="hidden" name="id" value="{{user._id}}"/>          
          <button type="submit" class="btn btn-danger">Go somewhere</button>         
        </form>
      </div>
    </div>
  </div>
  
  {{#if user.eDono}}
    <div class="col-sm-4">
      <div class="card">
        <div class="card-body">
            <h5 class="card-title">Transferir Dono</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a href="/perfil/transferir-dono" class="btn btn-danger">Go somewhere</a>  
        </div>
      </div>
    </div>
  {{/if}}
</div>

<h4 class="mt-5">Postagens</h4>
<div class="row">
  <div class="col-sm-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Ver Postagens</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="/perfil/minhas-postagens/" class="btn btn-success">Go somewhere</a>
      </div>
    </div>
  </div>
  </div>
</div>