<footer class="page-footer font-small mt-5 bg-seagreen">
  <div class="footer-copyright text-center py-3 text-white">
    {{!-- E-Mail --}}
    <a href="mailto:sabrina.poderis@gmail.com">
      <img src="/img/icons/email.png" alt="email">
    </a>

    {{!-- Linkedin --}}
    <a href="https://www.linkedin.com/in/sabrina-poderis/" target="_blank">
      <img src="/img/icons/linkedin.png" alt="Linkedin">
    </a>

    {{!-- GitHub --}}
    <a href="https://github.com/Sabrina-Poderis/Blogapp" target="_blank">
      <img src="/img/icons/github.png" alt="Github">
    </a>

    {{!-- Instagram --}}
    <a href="https://www.instagram.com/sabrina.poderis/" target="_blank">
      <img src="/img/icons/instagram.png" alt="Instagram">
    </a>
    
    <hr>

    <strong>
      Desenvolvido por Sabrina Poderis
    </strong>
  </div>
</footer>