<footer class="page-footer font-small blue fixed-bottom mt-5 bg-dark">
  <div class="footer-copyright text-center text-light py-3">
    2020 ©: Sabrina Poderis
     / 
    Repositório: <a href="https://github.com/Sabrina-Poderis/Blogapp" target="_blank">GitHub</a>
  </div>
</footer>