<nav aria-label="breadcrumb">           
	<ol class="breadcrumb">
		<li class="breadcrumb-item" aria-current="page"><a href="/">Home</a></li>
		<li class="breadcrumb-item" aria-current="page"><a href="/admin">Área Administrativa</a></li>
        <li class="breadcrumb-item" aria-current="page"><a href="/admin/postagens">Lista de Postagens</a></li>
        <li class="breadcrumb-item active">Análise de Postagens</li>
	</ol>
</nav>

<h1>Análise de Postagens</h1>
<hr>

<h2> {{title}} </h2>
<small>Data de publicação: {{#formatDate date}}{{/formatDate}}</small>
<p> {{conteudo}} </p>

<hr>
<p>Deseja publicar?</p>
<form action="/admin/postagens/edit-status/" method="POST">
    <input type="hidden" name="id" value="{{id}}">
    <button name="review_result" type="submit" value="aprovado" class="btn btn-success">Sim</button>
    <button name="review_result" type="submit" value="negado" class="btn btn-danger">Não</button>
    {{!-- <button class="btn btn-danger" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
        Não
    </button>

    <div class="collapse mt-5" id="collapseExample">
        <div class="card card-body">
            <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
            <label class="form-check-label" for="defaultCheck1">
                Default checkbox
            </label>
            </div>
            <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="defaultCheck2" disabled>
            <label class="form-check-label" for="defaultCheck2">
                Disabled checkbox
            </label>
            </div>            
        </div>
    </div> --}}
</form>

