<div class="row">
    <div class="col-md-8">
        <nav aria-label="breadcrumb">           
            <ol class="breadcrumb">
                <li class="breadcrumb-item" aria-current="page"><a href="/">Home</a></li>
                <li class="breadcrumb-item" aria-current="page"><a href="/postagem">Postagens</a></li>       
                <li class="breadcrumb-item active">{{title}}</li>
            </ol>
        </nav>
        <h1> {{title}} </h1>
        <hr>
        <small>Data de publicação: {{#formatDate date}}{{/formatDate}}</small>
        <hr>
        <p> {{content}} </p>
    </div>        
    <div class="col-md-4">
        {{>_side}}
    </div>
</div>