<div class="container text-center">

    <h2 class="display-3">Ops! Algo de errado aconteceu</h2>
    <img src="/img/404.svg" class="img-index">
</div>

<script>
    console.log('{{error}}');
</script>