<h2 class="text-center">Lista de Categorias</h2>

{{#if categorias}}
    {{#each categorias}}
        <div class="row-sm-6">
            <div class="card mt-4">
                <div class="card-body">
                    <a href="/categoria/{{slug}}">
                        <h5 class="card-title">
                            {{nome}}
                        </h5>
                    </a>
                </div>
            </div>
        </div>
    {{/each}}
{{else}}
    <hr/>
    <h3>Não existem categorias!</h3>
{{/if}}