<nav aria-label="breadcrumb">           
	<ol class="breadcrumb">
		<li class="breadcrumb-item" aria-current="page"><a href="/">Home</a></li>
		<li class="breadcrumb-item" aria-current="page"><a href="/admin">Área Administrativa</a></li>
        <li class="breadcrumb-item" aria-current="page"><a href="/admin/categorias">Lista de Categorias</a></li>
        <li class="breadcrumb-item active">Nova Caterogia</li>
	</ol>
</nav>

<h3>Nova Caterogia: </h3>
<form action="/admin/categorias/nova" method="POST">
    <div class="form-row">
        <div class="col-md-6 mb-3">
            <label>Nome:</label>
            {{#if formErrors.fieldNameError}}
                <input type="text" class="form-control is-invalid" name="name" value="{{formErrors.fieldNameValue}}">
                <div class="invalid-feedback">
                   {{formErrors.fieldNameError}}
                </div>               
            {{else}} 
                <input type="text" class="form-control" name="name"/>
            {{/if}}
        </div>
    </div>
    <div class="form-row">
        <button class="btn btn-primary" type="submit">Criar Categoria</button>
    </div>
</form>