{{#each errosFormulario}}
    <div class="alert alert-danger">{{texto}}</div>
{{/each}}

<h3>Editar Caterogia: </h3>
<form action="/admin/categorias/edit" method="POST">
    <input type="hidden" name="id" value="{{categoria._id}}"/>
    <div class="form-row">
        <div class="col-md-6 mb-3">
            <label for="nome">Nome:</label>
            <input type="text" class="form-control" id="nome" name="nome" value="{{categoria.nome}}"/>
        </div>
        <div class="col-md-6 mb-3">
            <label for="slug">Slug</label>
            <input type="text" class="form-control" id="slug" name="slug" value="{{categoria.slug}}"/>
        </div>
    </div>
    <div class="form-row">
        <button class="btn btn-success" type="submit">Editar Categoria</button>
    </div>
</form>