<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Área Administrativa</h1>
    <p class="lead">Bem vindo Fulano!</p>
  </div>
</div>

<div class="row">
  <div class="col-sm-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Categorias</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="/admin/categorias" class="btn btn-success">Gerenciar Categorias</a>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Postagens</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="/admin/postagens" class="btn btn-success">Gerenciar Postagens</a>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Usuários</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-success">Gerenciar Usuários</a>
      </div>
    </div>
  </div>
</div>

