<nav aria-label="breadcrumb">           
	<ol class="breadcrumb">
		<li class="breadcrumb-item" aria-current="page"><a href="/">Home</a></li>
		<li class="breadcrumb-item active">Área Administrativa</li>
	</ol>
</nav>

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Área Administrativa</h1>
    <p class="lead">Bem vindo(a) {{user.name}}!</p>
  </div>
</div>

<div class="row text-center mb-5">
  <div class="col-sm-4">
    <div class="card">
      <div class="card-body">
        <a href="/admin/categorias" class="btn btn-success">Gerenciar Categorias</a>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card">
      <div class="card-body">
        <a href="/admin/postagens" class="btn btn-success">Gerenciar Postagens</a>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card">
      <div class="card-body">
        <a href="/admin/usuarios" class="btn btn-success">Gerenciar Usuários</a>
      </div>
    </div>
  </div>
</div>

