<div class="row">
    <div class="col-md-8">
        <nav aria-label="breadcrumb">           
            <ol class="breadcrumb">
                <li class="breadcrumb-item"aria-current="page"><a href="/">Home</a></li>
                <li class="breadcrumb-item active">Categorias</li>
            </ol>
        </nav>

        <h2 class="text-center">Lista de Categorias</h2>

        {{#if categories}}
            {{#each categories}}
                <div class="row-sm-6">
                    <div class="card mb-5">
                        <div class="card-body">
                            <a href="/categoria/{{slug}}">
                                <h5 class="card-title">
                                    {{name}}
                                </h5>
                            </a>
                        </div>
                    </div>
                </div>
            {{/each}}
        {{else}}
            <hr/>
            <h3>Não existem categorias!</h3>
        {{/if}}
    </div>        
    <div class="col-md-4">
        {{>_side}}
    </div>
</div>